.post-page .heading {
  @apply mt-6;
}

.post-page .heading + .paragraph,
.post-page .heading + .table,
.post-page .heading + .pre,
.post-page .heading + div {
  @apply mt-2;
}

.post-page .heading.lv-2 {
  @apply text-xl font-bold border-b-2;
}

.post-page .heading.lv-3 {
  @apply text-xl font-bold;
}

.post-page .heading.lv-4 {
  @apply font-bold;
}

.post-page .heading.lv-5 {
  @apply font-bold;
}

.post-page .paragraph {
  @apply mt-6 leading-7 break-words;
}

.post-page .list {
  @apply mt-6 list-inside;
}

.post-page .list .list {
  @apply ml-4 mt-2;
}
.post-page .list li {
  @apply mt-2;
}

.post-page .list.ordered {
  @apply list-decimal;
}

.post-page .list.unordered {
  @apply list-disc;
}

.post-page .has-filename {
  @apply relative mt-6;
}

.post-page .has-filename .pre {
  @apply m-0 mt-4 pt-4;
}

.post-page .has-filename .code {
  @apply pt-6;
}

.post-page .filename {
  @apply absolute -left-1 -top-2 bg-gray-300 px-2 text-sm;
}

.post-page .table {
  @apply border-2 mt-6;
}

.post-page .tbody .tr:nth-child(odd) {
  @apply bg-gray-100;
}

.post-page .td {
  @apply border-2 px-2 py-1;
  min-width: 100px;
  max-width: 600px;
}

.post-page .th {
  @apply border-2 px-2 py-1;
  min-width: 100px;
  max-width: 600px;
}

.post-page .img {
  @apply inline-block mt-4;
}
